services:
  backend-api:
    build: ./backend
    container_name: java-backend
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend-app:
    build: ./frontend 
    container_name: react-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend-api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
